<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoyuan.study.sqlsession.ds.mapper.ChannelsMapper" >
    <insert id="insert" parameterType="com.daoyuan.study.sqlsession.ds.entity.Channels">
        insert into channels(name,level_type,app_code)
        values(#{name},#{levelType},#{appCode})
    </insert>
    <select id="select" resultType="com.daoyuan.study.sqlsession.ds.entity.Channels">
        select * from channels
    </select>
</mapper>